/* Light version of ProjectDetailsComponentStyle.css */
.project-data-to-update {
  background-color: #f0f0f0;
  color: #333;
  padding: 20px;
}

.project-title-to-update,
.project-description-to-update,
.project-date-to-update {
  color: #333;
}

.project-name-input-for-update,
.project-description-name-input-for-update,
.project-date-input-for-update {
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.project-description-name-input-for-update {
  resize: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .project-data-to-update {
    width: 100%;
  }
}
